<!-- views/logout.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Logout</title>
</head>
<body>
  <%- include ('../partials/navigation.ejs') %>

  <div class="logout-message">
    <h1>Sad to see you leave!</h1>
    <!-- You can add more content or messages here if needed -->
  </div>

  <%- include ('../partials/footer.ejs') %>
</body>
</html>
