<!-- Your EJS file -->

<style>
  body {
    margin: 0;
    /* padding-bottom: 10px; */
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
  }

  .footer {
    background-color: #ffff00;
    color: rgb(0, 0, 0) !important;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap; /* Allow items to wrap to the next row on smaller screens */
  }

  .footer img {
    height: 2rem;
    margin-left: 10px;
  }

  .social-media-links {
    display: flex;
    gap: 10px;
  }

  .social-media-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  @media screen and (max-width: 600px) {
    .footer {
      flex-direction: column;
      align-items: center;
    }

    .social-media-links {
      flex-direction: row; /* Display links in a row on smaller screens */
      justify-content: center; /* Center the links horizontally */
    }
  }
</style>

<!-- Footer section -->

<div class="footer">
  <!-- <img src="/images/logo.svg" alt="Logo"> -->
  <p style="color: rgb(0, 0, 0);">&copy; 2024 Abdullah's Car Sales</p>
  <p style="color: rgb(0, 0, 0);">Contact us: acauto86@gmail.com</p>
  <div class="social-media-links">
    <a href="https://www.tiktok.com/@abdullahs.car.sal" target="_blank">TikTok <i class="fa-brands fa-tiktok"></i></a>
    <!-- <a href="https://www.instagram.com/" target="_blank">Instagram</a> -->
    <a href="https://www.facebook.com/profile.php?id=100031928482318" target="_blank">Facebook <i class="fa-brands fa-facebook"></i></a>
    <script src="https://use.fontawesome.com/d6b504fbd4.js"></script>
    <!-- <a href="https://www.youtube.com/" target="_blank">YouTube</a> -->
    <!-- Add more social media links as needed -->
  </div>

  
<a href="https://wa.me/27726576102?text=Please%20help%20me%20find%20a%20car" target="_blank" class="container-whatsap">
  <img id="whatsap" src="images/whatsap.png" alt="WhatsApp">
</a>
</div>
</div>
