<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body{
            background-color: black;
            zoom:90%;
          
        }

        h1{
            color: white;
            text-align: center;
        }
    </style>
</head>

<body>
    <%- include ('./partials/navigation.ejs') %>
    <h1>Thank you for you application!!!</h1>
br
    <%- include ('./partials/footer.ejs') %>
</body>
</html>