<!-- views/university.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <title><%= pageTitle %></title>
</head>
<body>
    <%- include ('../partials/navigation.ejs') %>
  
  <div class="academic-content">
    <h1><%= pageTitle %></h1>
    <p>Welcome to the University level information.</p>
    <!-- Add specific content for the University level as needed -->
    <ul>
        <li>What course are you doing?</li>
    </ul>
  </div>

  <%- include ('../partials/footer.ejs') %>
</body>
</html>
